<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @ingrediente.descricao %>
</p>

<%= link_to 'Edit', edit_ingrediente_path(@ingrediente) %> |
<%= link_to 'Back', ingredientes_path %>
