<div class="">
	<div class="container">
		<div class="page-header">
			<h1 class="title">Editar Cozinha</h1>
		</div>

		<div class="texto-exibir">
			<%= render 'form', cozinha: @cozinha %>
		</div>
		<div class="btn-container col-xs-12">
			<%= link_to 'Visualizar', @cozinha, :class => "btn btn-primary" %>
			<%= link_to 'Voltar', cozinhas_path, :class => "btn btn-default" %>
		</div>
	</div>
</div>